{% extends 'base.html' %}

{% block content %}

<style>
    .container {
        margin-top: 20px;
    }

    .jumbotron {
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 5px;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
  
</style>

<div class="container">
    <div class="jumbotron">
        <h1>Dashboard</h1>

        <p>{{ user.username }}'s Profile</p>
        <p>Email : {{ user.email }}</p>
        <p>Phone : {{ user.userprofile.phone }}</p>
        <p>Address : {{ user.userprofile.address }}</p>
        <p>City : {{ user.userprofile.city }}</p>
        <p>State : {{ user.userprofile.state }}</p>
        <p>Zipcode : {{ user.userprofile.zipcode }}</p>


        <a href="{% url 'edit' %}" class="btn btn-primary">Edit</a>

        <br><br><br>
        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col-md-4">
                <div class="card card-body">
                    <h5 class="card-title">Total Defects Assigned</h5>
                    <h6>{{ total_assigned }}</h6>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="card card-body">
                    <h5 class="card-title">Total Defects Completed</h5>
                    <h6> {{ total_complete }} </h6>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-body">
                    <h5 class="card-title">Pending total details</h5>
                    <h6> {{ pending_defects }} </h6>
                </div>
              </div>
              <br><br>
              <div class="row ">
                <div class="col-mt-4">
                    <div class="card card-body">
                        <h5 class="card-title">Calculate completed defects</h5>
                        <h6> Primary -> {{ total_primary }} </h6>
                        <h6> Secondary -> {{ total_secondary }} </h6>
                    </div>
                  </div>
              </div>
              
            </div>
          </div>
    </div>
</div>

{% endblock %}